<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header">
				<h1 th:text="${titulo}"></h1>
			</div>
			<div class="card-body">
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="error: ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${cliente}" method="post" class="form-group">
					<table>
						<tr>
							<td class="form-label">Nombre</td>
							<td>
								<input type="text" th:field="*{nombre}" class="form-control" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
									th:errors="*{nombre}"></small>
							</td>

						</tr>
						<tr>
							<td class="form-label">Apellido</td>
							<td>
								<input type="text" th:field="*{apellido}" class="form-control" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
									th:errors="*{apellido}"></small>
							</td>

						</tr>
						<tr>
							<td class="form-label">Email</td>
							<td>
								<input type="email" th:field="*{email}" class="form-control">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></small>
							</td>

						</tr>
						<tr>
							<td class="form-label">Fecha</td>
							<td>
								<input type="text" th:field="*{createAt}" class="form-control">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}"
									th:errors="*{createAt}"></small>
							</td>

						</tr>
						<tr>
							<td><input type="submit" value="Crear Cliente" class="btn btn-primary mt-3" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>